<footer class="bg-main-light py-4 px-5 mt-5">
    <h2 class="fw-light">Get The Freshcart App ..</h2>
    <p>We will send you a link , open it on your phone to dawnload the app .</p>
    <!-- <div class="d-flex mt-3 ">
        <input type="email" class="form-control w-75 shadow-none" placeholder="Email.." >
        <button class="main-btn flex-shrink-0 ms-5">Share app link</button>
    </div> -->
    <div class="row">
        <div class="col-lg-9  input ">
            <input type="email" class="form-control w-100 shadow-none" placeholder="Email..">
        </div>
        <div class="col-md-3 button">
            <button class="main-btn flex-shrink-0 ms-5">Share app link</button>
        </div>
    </div>
    <hr class="mx-3 hr my-3">

    <div class="row py-3 ">
        <div class="col-lg-7 d-flex align-items-center ">

            <span class="mx-2 p1">Payment Partners :</span>
            <div class="row d-flex">
                <div class="col-lg-5 d-flex align-items-center">
                    <span class="ms-1"><img src="./assets/imgs/2560px-Amazon_Pay_logo.svg.png" class=" mt-1 ms-2" width="80 "
                            height="12" alt=""></span>
                    <span class="ms-1"><img src="./assets/imgs/blue.jpg" class="  ms-2" width="65 " height="25" alt=""></span>
                </div>
                <div class="col-lg-2 d-flex align-items-center">
                    <span class="ms-2"><img src="./assets/imgs/MasterCard_Logo.svg.png" width="70 " height="20" class="  ms-2"
                            alt=""></span>
                    <span class="ms-1"><img src="./assets/imgs/PayPal.svg.png" width="70 " height="20" class="  ms-2" alt=""></span>
                </div>
            </div>
        </div>


        <div class="col-lg-5 d-flex align-items-center ">
            <span class="mx-3 ms-5 p2 ">Get deliveries with freshcart :</span>
            <span><img
                    src="./assets/imgs/png-transparent-apple-store-logo-app-store-android-google-play-get-started-now-button-text-logo-black.png"
                    class=" mt-1 ms-2" width="100 " height="42" alt=""></span>
            <span><img src="./assets/imgs/en_badge_web_generic.png" class="  ms-2 rounded" width="100 " height="60"
                    alt=""></span>

        </div>
    </div>



    <hr class="mx-3 hr my-3">

    <p class="text-center mt-4">&copy; 2023 Aya Ghonim ALL Rights Reserved</p>

</footer>