<!-- forget password -->
<section *ngIf="step1"  class="forget w-50 m-auto shadow rounded p-3 my-5 bg-main-light">
    <form [formGroup]="forgetPassword"  (ngSubmit)="forgetUserPassword()">
        <h3 class="text-center py-3">* forget Password *</h3>
        <div class="form-item my-2">
            <label for="email">Email:</label>
            <input id="email" type="email" class="form-control shadow-none" formControlName="email">
            <button class="w-100 main-btn py-2 my-4">Forget Password</button>
            <p *ngIf="userMsg" class="alert alert-danger w-100 text-center mb-0 p-1 mt-2">{{userMsg}}</p>
        </div>
    </form>
</section>
<!-- reset code  -->
<section *ngIf="step2" class="forget w-50 m-auto shadow rounded p-3 my-5 bg-main-light">
    <form [formGroup]="resetCode" (ngSubmit)="resetTheCode()">
        <h3 class="text-center py-3">* Reset Code *</h3>
        <div class="form-item my-2">
            <label for="resetCode">Reset Code:</label>
            <input id="resetCode" type="resetCode" class="form-control shadow-none" formControlName="resetCode">
            <button class="w-100 main-btn py-2 my-4">Reset Code</button>
            <p *ngIf="userMsg" class="alert alert-danger w-100 text-center mb-0 p-1 mt-2">{{userMsg}}</p>

        </div>
    </form>
</section>
<!-- reset password -->
<section *ngIf="step3" class="forget w-50 m-auto shadow rounded p-3 my-5 bg-main-light">
    <form [formGroup]="resetPassword" (ngSubmit)="resetUserPassword()">
        <h3 class="text-center py-3">* Reset Password *</h3>
        <div class="form-item my-2">
          
            <label for="newPassword">New Password:</label>
            <input id="newPassword" type="Password" class="form-control shadow-none" formControlName="newPassword">
            <button class="w-100 main-btn py-2 my-4"> Reset Password </button>
            <p *ngIf="userMsg" class="alert alert-danger w-100 text-center mb-0 p-1 mt-2">{{userMsg}}</p>

        </div>
    </form>
</section>
