@media all and (max-width:575px){
    .login , .register , .nav-item{
        text-align: center;
        margin: 10px 0;
    }
    .icons{
        justify-content: center;
        margin-top: 20px;
    }

}